bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Student_Management_System/.idea/.gitignore
/.idea/.idea.Student_Management_System/.idea/encodings.xml
/.idea/.idea.Student_Management_System/.idea/indexLayout.xml
/.idea/.idea.Student_Management_System/.idea/vcs.xml
